<!DOCTYPE html>
<html>
<head>
	<title>Gone Phishin' by Team Rogue</title>

	<meta charset="utf-8">

	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
	<link href='/static/style.css' rel='stylesheet' type='text/css'>

	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

	{% block head %}
	{% endblock %}
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Gone Phishin'</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
				</ul>
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>

	{% block body %}
	{% endblock %}

	<footer>
		<hr/>
		<div class="container">
			<p>Created by Team Rogue.</p>
		</div>
	</footer>
</body>
</html>