{% extends "base.html" %}
{% block head %}

	<!--Put before the initialization of the application, respect order, bs-core.min.js must run before any other bs components -->
	<!--Core of Bootstrap for Ember -->
	<script src="../static/ember/js/vendor/jquery.js"></script>
	
	<script src="../static/ember/js/vendor/handlebars.js"></script>
	<script src="../static/ember/js/vendor/ember.js"></script>
	<script src="../static/ember/js/vendor/bs-for-ember/js/bs-core.max.js"></script>
	<!--Alert component -->
	<script src="../static/ember/js/vendor/bs-for-ember/js/bs-alert.max.js"></script>
{% endblock %}
{% block body %}
	<div class="container">
		<div id="application"></div>
	</div>
	<script src="../static/ember/js/application.js"></script>
{% endblock %}